/* Estilo da pagina index.html */
.center{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    
}

#menu li{
    display: inline;
    padding: 15px;
    font-size: 20px;
    
}

#menu li a{
    text-decoration: none;
    color: #000;
}

#menu li a:hover{
    color: gray;
}

.p-30{
    padding: 30px;
}

.br-50{
    border-radius: 50%;
}

.rp{
    justify-content: center; /*Eixo Horizoontal*/
    align-items: center;/*Eixo vertical*/
}


/* Estilo da pagina contato.html */